body{
    font: 20px Arial,sans-serif;
}

.navbar {
    background-color: #aabac2;
}

.quem-somos {
    background-color: rgb(72, 88, 122);
    color:white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: green;
}

.bg-footer {
    background-color: black;
    color: white;
}